* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    color: #1a1a1a;
}
/* ================= HEADER ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 60px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2f80ed;
}

/* MENU TOGGLE (MOBILE) */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* HERO */
.about-hero {
  padding: 100px 20px 60px;
  text-align: center;
  background: #f8f9fc;
}

.about-hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.about-hero p {
  font-size: 18px;
  color: #555;
}

.about-company {
  padding: 90px 12%;
  background: #ffffff;
  text-align: center;
}

.about-company h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

.about-company p {
  max-width: 900px;
  margin: 0 auto 20px auto;
  font-size: 18px;
  line-height: 1.8;
  color: #555;
}


/* STORY */
.about-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 80px 10%;
  align-items: center;
}

.story-content h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.story-content h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.story-content p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #333;
}

.story-image img {
  width: 100%;
  border-radius: 12px;
}

/* STATS */
.about-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px 10%;
  background: #ffffff;
  text-align: center;
}

.stat-card {
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.stat-card i {
  font-size: 40px;
  color: #2f80ed;
  margin-bottom: 15px;
}

.stat-card h3 {
  font-size: 32px;
  margin-bottom: 5px;
}

/* VALUES */
.about-values {
  padding: 80px 10%;
  background: #f8f9fc;
  text-align: center;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.value-card {
  padding: 30px;
  border-radius: 12px;
  background: white;
}

.value-card i {
  font-size: 36px;
  color: #2f80ed;
  margin-bottom: 15px;
}

/*skill */

.skills {
  padding: 80px 10%;
  background: #fff;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.skills h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.skills-left ul {
  list-style: none;
  padding: 0;
}

.skills-left li {
  margin-bottom: 25px;
  line-height: 1.6;
}

.skill-bar {
  margin-bottom: 25px;
}

.skill-bar span {
  font-weight: 600;
}

.bar {
  background: #eee;
  height: 15px;
  border-radius: 5px;
  margin-top: 8px;
}

.bar div {
  height: 100%;
  background: linear-gradient(to right, #0775f4, #270b0b);;
  border-radius: 5px;
}


/* CTA */
.about-cta {
  padding: 80px 20px;
  text-align: center;
}

.about-cta h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-cta p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-pricing {
  display: inline-block;
  padding: 12px 26px;
  background: #2f80ed;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-pricing:hover {
  background: #1c65cb;
}

.footer { 
    background:#0f1720; 
    color:#f5f7f6; 
    padding:40px 20px; 
}
.footer-content { 
    display:flex; 
    gap:30px; 
    justify-content:space-between; 
    max-width:1100px; 
    margin:0 auto; 
    flex-wrap:wrap; 
}
.footer-col h3, .footer-col h4 { 
    color:#00c67c; 
    margin-bottom:8px; 
}
.footer a { 
    color:#dbe; 
    text-decoration:none; 
}
.footer-bottom { 
    text-align:center; 
    margin-top:20px; 
    opacity:0.75; 
    font-size:0.95rem; 
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-story {
    grid-template-columns: 1fr;
  }

  .about-stats,
  .values-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  /* MENU MOBILE */
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 20px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  }

  .nav-links a {
    padding: 15px;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  /* HERO MOBILE */
  .hero-content {
    padding: 90px 20px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content p {
    font-size: 17px;
  }

  .ratings {
    justify-content: center;
  }
}
